site_name: OPERA Project

markdown_extensions:
    - toc:
        permalink: ïƒ
    - admonition
    - def_list

nav:
- WhyOP: 'whyopera.md'
- About: 'about.md'

theme: readthedocs

plugins:
    - search
